@import "./src/components/Styles/mixins/flex";
@import "./src/components/Styles/mixins/colors";

#wrapper{
    @include flex-justify-center;
    width: 100%;
    min-height: 120vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.generator-container{
    @include flex-column-align-center;
    @include main-palette;

    min-width: 45%;
    min-height: 100%;
    padding: 20px;
    margin: 50px 0;
    border-radius: 25px;
    position: relative;
}

#cubemap{
    border-radius: 25px;
    outline: solid 1px var(--bg);
    border: none;
    margin-top: 140px;
    output{
        height: 400px;
    }
}


.generator-container{
    form{
        @include flex-column-full-center;
        width: 90%;
        label{
            width: 150px;
        }
    }
}

.form-input{
    align-self: flex-start;
    font-size: 0.8rem;
    font-family: var(--font);
}

.form-input::file-selector-button,
#submit-btn,
#home-btn{
    @include main-palette;
    border: none;
    font-size: 0.8rem;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin: 2px 10px 2px 2px;
}

.form-input::file-selector-button:hover,
#submit-btn:hover,
#home-btn:hover{
    @include main-palette-inverse;
}

.inputs{
    @include flex-align-center;
    margin-top: 15px;
    justify-content: space-evenly;
    min-width: 50ch;
}

.inputs>input,
.inputs>textarea{
    @include main-palette-inverse;
    width: 350px;
    min-width: 100px;
    border: none;
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 15px;
    padding-left: 20px;
}

#description-field{
    resize: none;
}

#submit-btn,
#home-btn{
    margin-top: 25px;
    font-size: 1.3rem;
    padding: 20px 40px;
    border-radius: 50px;
}

input[type="text"]:disabled,
#submit-btn:disabled,
textarea:disabled,
.form-input:disabled::file-selector-button{
    @include main-palette-inverse;
    cursor: default;
}

#submit-btn:disabled:hover,
.form-input:disabled::file-selector-button:hover{
    @include main-palette;
}

#home-btn,
#createdP{
    display: none;
}

#category-dropdown{
    @include main-palette-inverse;
    width: 40ch;
    min-width: 100px;
    font-size: 1rem;
    border-radius: 25px;
    padding: 15px;
    padding-left: 20px;
}

#maptype-selector{
    position: absolute;
    top: -32px;
    left: 0;
    display: flex;
}

#panorama-selector,
#cubemap-selector{
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    font-size: 1.4rem;
    margin-right: 10px;
    border-bottom: none;
    cursor: pointer;
}

.cubemap-header{
    text-align: center;
    margin-bottom: 20px;
}

#cubemap-inputs{
    width: 80%;
}

#cubemap-inputs>*{
    @include flex-align-center;
    justify-content: space-evenly;
}

#cubemap-inputs>*>*{
    font-family: var(--font);
}

#cubemap-inputs>*>input::file-selector-button:hover,
#submit-btn:hover,
#home-btn:hover{
    @include main-palette-inverse;
}


#cubemap-inputs>*>input::file-selector-button{
    @include main-palette;
    font-size: 0.8rem;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
    color: bg;
    margin: 2px 10px;
}

@media (max-width: 1920px){
    #wrapper{
        height: 80vh;

        h2{
            font-size: 1.2rem;
            font-weight: normal;
            top: 3%;
            position: absolute;
            width: 100%;
            color: var(--bg);
        }

        .form-input{
            &::file-selector-button{
                font-size: 0.7rem;
                padding: 5px 15px;
                margin-top: 10px;
            }
        }
    
        label{
            font-size: 0.6rem;
            padding-right: 15px;
        }
    
        .inputs>input{
            height: 0.6rem;
            font-size: 0.6rem;
        }
    
        .inputs>textarea{
            font-size: 0.6rem;
        }
    
        select{
            padding: 5px 10px;
            font-size: 0.6rem;
        }
    
        option{
            font-size: 0.6rem;
        }
    
        #submit-btn{
            font-size: 1rem;
            padding: 10px 25px;
        }
    
        #cubemap-inputs{
            input{
                font-size: 0.5rem;
            }
    
            div{
                margin-bottom: 10px;
            }
    
            div>*::file-selector-button{
                font-size: 0.6rem;
            }
        }
    }
}


@media (max-width: 850px){
    #maptype-selector{
        width: 100%;
        display: flex;
        // justify-content: space-between;
        top: -20px;
        margin: 0;
        padding: 0;
        div{
            height: 50px;
            font-size: 1.4rem;
            margin: 0;
            &:nth-child(1){
                margin-right: 10px;
            }
        }
    }

    .generator-container{
        width: 80%;
        margin-bottom: 50px;
        form{
            width: 100%;
            position: relative;
            display: flex;

            .inputs{
                display: grid;
            }
        }
    }
    #cubemap{
        output{
            width: 400px;
            height: 300px;
            a{
                left: 0;
                top: 0;
                margin: 0 !important; 
                padding: 0;
                img{
                    width: 100px;
                }
            }
            // pz
            a:nth-child(1){
                top: 100px !important;
                left: 100px !important;
            }
            // nz
            a:nth-child(2){
                top: 100px !important;
                left: 300px !important;
            }
            // px
            a:nth-child(3){
                top: 100px !important;
                left: 200px !important;
            }
            // nx
            a:nth-child(4){
                top: 100px !important;
                left: 0px !important;
            }
            // py
            a:nth-child(5){
                top: 0px !important;
                left: 100px !important;
            }
            // ny
            a:nth-child(6){
                top: 200px !important;
                left: 100px !important;
            }
        }
    }
}

@media (max-width:500px){
    #maptype-selector{
        justify-content: space-between;
        div{
            font-size: 1rem;
        }
    }
    .generator-container{
        width: 100%;
        margin: 100px 0px;
        form{
            .inputs{
                &>*{
                    width: 250px;
                }
            }
        }
    }
    #category-dropdown{
        width: 250px;
    }
}