@import "./src/components/Styles/mixins/colors";
@import "./src/components/Styles/mixins/flex";


.nav-row {
    @include flex-align-center;
    justify-content: space-between;
    height: 60px;
    font-family: var(--font);
    padding: 5px;
}


.nav-row ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-row li{
    list-style: none;
}

.nav-row li:nth-child(3){
    margin-right: 60%;
    
}

.nav-row a{
    white-space: nowrap;
    font-size: 0.8rem;
    text-decoration: none;
    margin-right: 40px;
    outline: solid 2px var(--darkbeige);
    padding: 8px 40px;
    border-radius: 100px;
    color: var(--beige);
}

.nav-row a:hover{
    @include main-palette-inverse;
    outline-width: 2px;
    cursor: pointer;
    // background-color: var(--bg);
    // outline: solid 2px var(--beige);
}

.nav-row a:visited{
    color: var(--beige);
}

#logo{
    max-width:250px ;
    max-height: 300px;
    filter: invert(1);
    margin-left: 20px;
    cursor: pointer;
}

.parent{
    position: relative;
}

.mobile{
    position: fixed;
    right: 0;
    z-index: 1111;

    .active{
        background-color: var(--bg);
        &:hover{
            background-color: var(--beige)
        }
    }

    img{
        @include main-palette;
        width: 50px;
        border-radius: 10px;
        padding: 2px 0px 5px 0px;
        margin: 10px;
    }

    ul{
        @include flex-column-align-center;
        @include main-palette-inverse;
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100vh;
        padding: 0;
        overflow: hidden;
        outline-width: 2px;

        p{
            text-align: center;
            font-weight: bold;
            font-size: 1.6rem;
            cursor: pointer;
            padding: 10px;
        }
    }

    li{
        list-style: none;
        width: 100%;
        text-align: center;
        background-color: var(--bg);
        padding: 10px 0px;
        font-size: 0.8rem;

        &:hover{
            background-color: var(--beige);
        }
    }

    li:hover a{
        color: var(--bg);
        background-color: var(--beige);
    }

    a{
        text-decoration: none;
        color: var(--beige);
        padding: 10px;

        &:active{
            outline: none;
            border: none;
        }
    }

}

.open-menu{
    animation: 0.2s openAnim forwards;
}

.close-menu{
    animation: 0.2s openAnim forwards;
}

@keyframes openAnim{
    0%{width: 0;}
    100%{width: 150px;}
}

@keyframes closeAnim{
    0%{width: 150px;}
    100%{width: 0;}
}

@media screen and (max-width:1220px){
    .nav-row{
        a{
            font-size: 0.6rem;
            margin-right: 20px;
            padding: 6px 30px;

        }
    }
}

@media screen and (max-width:950px){
    .nav-row{
        a{
            font-size: 0.5rem;
            margin-right: 20px;
            padding: 5px 24px;
        }
    }
}