@import "./src/components/Styles/mixins/colors";
@import "./src/components/Styles/mixins/flex";

* {
    margin: 0;
}
#profile-container {
    @include flex-justify-center;
    color: var(--biege);
    padding-top: 25px;
    text-align: center;
    max-width: 100vw;
    position: relative;

}

#sidebar {
    @include flex-column-align-center;
    color: var(--biege);
    height: 75vh;
    border-right: 1px solid hsla(244, 11%, 50%, 0.469);
}

#profile-icon-container1 {
    @include flex-column-full-center;
    padding: 0;
    margin: 0;
}

#sidebar h5, #sidebar h4 {
    padding-bottom: 0.75rem;
}

#main-content {
    color: var(--beige);
    padding: 5px;

    input {
        @include main-palette-inverse;
        width: 100%;
        outline-width: 2px;
    }
    h3,h2 {
        padding: 20px 0;
    }
}



#sidebar-likes {
    outline: none;
    color: var(--biege);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;

}


#profile-title {
    text-align: left;
    margin-left: 0;
    padding-bottom: 20px;
}

#sidebar-heading {
    outline: none;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: var(--beige);
    border-radius: 10px;
    // margin-left: 40px;
}


#profile-icon {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    background-color: rgba(34, 33, 33, 0.582);
    border-radius: 100%;
}

#profile-icon:hover, #edit-image:hover {
    cursor: pointer;
}

#profile-icon-container {
    display: flex;
    /* width: 70vw; */
    align-items: left;
}

#edit-image {
    font-size: 0.75rem;
    position: relative;
    bottom:29px;
    padding: 3px 55px;
    background-color: var(--bg);
}

.main-content-nav {
    @include flex-full-center;
    h5{
        margin: 20px;
        cursor: pointer;
    }
    #sidebar-likes:hover,#sidebar-heading:hover{
        outline: solid 2px var(--beige);
    }
}


#edit-profile {
    margin: 0;
    padding: 0;
}

#edit-profile h3 {
    padding-bottom: 30px ;
}

#edit-profile input {
    @include main-palette-inverse;
    margin: 20px 20px 30px 0;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 0.75rem;
    outline-width: 2px;
}

.active {
    background-color: var(--active);
    border-bottom: 2px solid var(--biege) ;
    border-radius: 0;
}

#profile-email {
    margin-top: 20px;
}

#edit-profile button,
#user-rooms-container button,
#likes-container button {
    @include main-palette;
    padding: 0.30rem 1.5rem;
    font-size: 0.7rem;
    text-decoration: none;
    border-radius: 100px;
    font-size: 1rem;
    z-index: 1;
    margin: 30px;
}

#edit-profile button:hover,
#user-rooms-container button:hover,
#likes-container button:hover {
    @include main-palette-inverse;
    cursor: pointer;
    outline-width: 2px;
}

#profile-imgs {
    width: 200px;
    height: 200px;
    opacity: 0.75;
    border-radius: 10%;
    margin: 10px 5px;
}

