.switch-container{
    width: 400px;
    height: 300px;
    background-color: var(--outline);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: translateY(-100px);
    outline: solid 1px #49475B;
    
}

.switch{
    position: relative;
    width: 100px;
    height: 200px;
    perspective: 600px;
}

#toggle{
    perspective: inherit;
    position: relative;
    cursor: pointer;
}

#shadedbit{
    position: absolute;
    width: 110px;
    height: 140px;
    background: rgb(25,23,30);
    background: #EDE4D9;
    left: -5px;
    bottom: -263px;
    transform: rotateX(-65deg);
}

#mainbit{
    content: "";
    position: absolute;
    top: -54px;
    width: 100px;
    height: 260px;
    /* background-color: rgb(170, 171, 172); */
    background: rgb(25,23,30);
    background: linear-gradient(0deg, rgb(69, 67, 71) 0%, rgba(170,171,172,1) 81%);
    transform: rotateX(55deg);
}

#login-label,
#register-label{
    position: absolute;
    font-size: 1.4rem;
    font-weight: normal;
}

#login-label{
    top: -60px;
    width: 300px;
    text-align: center;
}

#register-label{
    bottom: -120px;
}

.spacebar-graphic{
    position: absolute;
    text-align: center;
}

.spacebar{
    width: 350px;
    height: 50px;
    margin: 5px;
    background: #EDE4D9;
    border-radius: 5px;
    box-shadow: inset 1px -3px 2px 5px #b9b5b0;
}

@media (max-width: 1366px){
    .switch-container{
        height: 220px;
    }

    #mainbit{
        width: 80px;
        height: 208px;
        top: -20px;
        left: 8px;
    }

    #shadedbit{
        width: 86px;
        height: 112px;
        bottom: -233px;
        left: 5px;
    }

    .spacebar{
        width: 220px;
        height: 35px;
    }
    #login-label,
    #register-label{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1024px){
    .switch-container{
        display: none;
    }
}