@import "./src/components/Styles/mixins/flex";
@import "./src/components/Styles/mixins/colors";
@import "./src/components/Styles/mixins/loginStyles";

#login{
    position: relative;
    z-index: 99;
    justify-content: space-around;
    min-height: 60%;

    h2{
        @include header-h2;
    }

    form{
        @include flex-column-align-center;
        width: 55%;
        top: 40%;

        label{
            @include form-label;
        }

        input{
            @include form-input;
        }

        button{
            @include form-button;
        }
    }
}

.lamp{
    @include lamp;
}

@media (min-width: 1281px){
    #login{
        h2{
            font-size: 2rem;
            padding-top: 25%;
        }

        .lamp{
            scale: 30%;
            top: -380px;

        }
        form{
            label{
                font-size: 0.6rem;
            }
    
            input{
                height: 1.4rem;
                margin-bottom: 20px;

            }
    
            button {
                font-size: 0.6rem;
                margin-top: 10%;
            }
        }


    }
}

@media (max-width: 1280px){
    #login{
        h2{
            font-size: 1.4rem;
            padding-top: 25%;
        }

        .lamp{
            scale: 25%;
            top: -360px;
        }

        form{
            label{
                font-size: 0.6rem;
            }
    
            input{
                height: 1.4rem;
                margin-bottom: 15px;
            }
    
            button {
                font-size: 0.6rem;
                padding: 10px 20px;
            }
        }
    }
}

@media screen and (max-width:850px){
    #login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        button{
            font-size: 0.7rem;
            border-radius: 50px;
            margin-top: 20px;
        }

        .lamp{
            top: -400px;
        }
    }
}
