@import "./src/components/Styles/mixins/flex";
@import "./src/components/Styles/mixins/colors";

#left-rooms-container,
#right-rooms-container{
    @include flex-column;
    width: 100%;
    margin: 20px;
}

#user-rooms-container,
#likes-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.8fr);
    justify-content: center;
    z-index: 1;
}

#user-rooms-container>*,
#likes-container>*{
    margin-bottom: 5px;
}

#profile-imgs-text{
    @include main-palette;
    font-size: 80%;
    height: 70px;
    padding-top: 10px;
    position: relative;
    border-radius: 0px 0px 25px 25px;
    outline: none;
}

.imgs-container{
    background-color: var(--beige);
    transition: 0.1s ease-in-out;
    position: relative;
}

.card-wrapper{
    position: relative;
    margin: 10px;
    border-radius: 25px;
    overflow: hidden;
    height: 100%;
    transition: ease-in-out 0.1s;
}

.card-wrapper:hover{
    transform: scale(0.97);
    transition: ease-in-out 0.1s;
}

.room-img{
    filter: contrast(1.2);
    width: 100%;
}

.config{
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 0;
    margin: 0;
}

.config>*{
    @include flex-full-center;
    @include main-palette;

    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 5px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.5);
}

.config *:hover{
    @include main-palette-inverse;
    outline: none;
    cursor: pointer;
}

.both-cont{
    display: flex;
}

@media screen and (max-width:850px){
    .both-cont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #user-rooms-container,
    #likes-container{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
}

@media (max-width:500px){
    #main-content{
        width: 100%;
    }
    #profile-imgs-text{
        font-size: 0.6rem;
        height: 40px;
    }
    .config{
        p{
            font-size: 1rem;
            width: 2ch;
            height: 2ch;
        }
    }
    .card-wrapper{
        margin: 5px;
    }
}

@media (max-width: 350px){
    #user-rooms-container{
        grid-template-columns: 1fr;
    }
}